.pixelify-sans{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  body {
    font-family: "Pixelify Sans", sans-serif;
    background-image: url(https://wallpapercrafter.com/th8005/1477113-line-shadow-stripes-shape-black-red-abstract.jpg);
    background-size: 100%;

  }

  nav {
    

  }

#a {
  flex: auto;
  align-self: end;
}

h1 {
  color: #f8f8f8;
}

footer {
  color: #f8f8f8;
}